<ion-header-bar class="bar-dark">
  <h1 class="title">The Slacker Quiz</h1>
</ion-header-bar>

<ion-content ng-controller="HomeCtrl">

  <div class="padding">

    <h3>Welcome to</h3>
    <h3>The Slacker Quiz!</h3>

    <p>Slacker was released in theatres in 1991 but lives on as a document of a very special time in Austin's history. For those of you who lived through it, take this quiz to see how much of it you remember.</p>

    <h4>To get started, enter an email address to receive your results.</h4>

  </div>

  <div class="list">

    <label class="item item-input">
      <input type="email" ng-model="email" placeholder="me@example.com" required>
    </label>

  </div>

  <button class="button button-medium button-positive padding-horizontal" type="submit" ng-click="submitEmail()">
    Let's get started!
  </button>
  
</ion-content>

<ion-footer-bar class="bar-stable">
  <h1 class="title">&copy Rod Machen 2015</h1>
</ion-footer-bar>
