<ion-header-bar class="bar-dark">
  <h1 class="title">The Slacker Quiz</h1>
</ion-header-bar>

<ion-content>

  <div class="padding">
    <h4>Select the filming locations from Slacker that you visited.</h4>
  </div>

  <ion-checkbox ng-repeat="item in quizList" ng-model="item.checked" ng-checked="item.checked" ng-click="toggleSelection(item.text)">
    {{ item.text }}
  </ion-checkbox>

  <br>
  
  <button class="button button-medium button-assertive padding-horizontal" type="submit" ng-click="submitQuiz()">
    Submit!
  </button>

</ion-content>

<ion-footer-bar class="bar-stable">
  <h1 class="title">&copy Rod Machen 2015</h1>
</ion-footer-bar>
